hg+http://bitbucket.org/pygame/pygame
amqp>=1.4.5
anyjson>=0.3.3
argparse>=1.2.1
billiard>=3.3.0.18
celery>=3.1.13
kombu>=3.0.21
numpy>=1.8.1
pandas>=0.14.1
py>=1.4.22
pygame>=1.9.2a0
pynet>=0.0.1
pytest>=2.6.0
python-dateutil>=2.2
pytz>=2014.4
redis>=2.10.1
six>=1.7.3
wsgiref>=0.1.2
